<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <hr/>
                    <span class="copyright">
                        &copy; 2016 Puget Sound Regional Council / <a href="http://www.psrc.org">www.psrc.org</a>
                    </span>
                    <p class="rss-subscribe">subscribe <a href="{{site.baseurl}}/feed.xml"> via RSS</a></p>
                </div>
            </div>
        </div>
</footer>
