<!-- Navigation -->

	<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
        	<div class="navbar-brand page-scroll"><a href={{ site.baseurl }}/>PUGET SOUND TRENDS</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/bigpicture">Big Picture</a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/peopleandplace">Growth</a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/transportation">Transportation</a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/economy">Economy</a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/environment">Environment</a>
                    </li>
                    <li class="li-header">
                        <a class="page-scroll" href="{{ site.baseurl }}/library">Archive</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>
