<table class="post-image">

{%if include.image.text-above != "" %}
  <tr><td><center><b>{{include.image.text-above}}</b></center></td></tr>
{%endif%}

<tr><td>
    <a href="{{site.baseurl}}{{include.image.path}}">
	<img width="100%" src="{{site.baseurl}}{{include.image.path}}" 
	     alt="{{include.image.text-above}}{{include.image.text-below}}"/></a><br/>
</td></tr>

{%if include.image.text-below != "" %}
  <tr><td><center><b>{{include.image.text-below}}</b></center></td></tr>
{%endif%}

</table>
