<!DOCTYPE html>
<html>

  {% include head.html %}
    <body id="page-top" class="index preload">
	<div class="container">

    {% include header.html %}

	<!-- MOBILE NAV -->
	<div class="mobilenav">
	  <h5 style="margin-top:0px; padding-top:0px">
		<a href="{{site.baseurl}}/peopleandplace">Growth</a> &bull;
		<a href="{{site.baseurl}}/transportation">Transportation</a> &bull;
		<a href="{{site.baseurl}}/economy">Economy</a> &bull;
		<a href="{{site.baseurl}}/library">Archive</a> 

      <hr/>
    </div>
		
	</body><body>	<div class="container">

    <!-- SIDE LINKS -->
    <div id="sidebar"><a href="http://www.psrc.org"><img id="psrc_logo" src="{{site.baseurl}}/static/gem-224.png" alt="PSRC Logo" width="224px" /></a>

      <br/><br/><br/>

      <p class="sidebar_title">SEARCH</p>
      {% include search.html %}

      <br/>

      <p class="sidebar_title">TREND TOPICS</p>
      {% include tags.html %}

      <br/><br/>

      <p class="sidebar_title">PSRC LINKS</p>
      &nbsp;<span style="font-size: 13px;"><a href="http://www.psrc.org">PSRC Website</a></span>


    </div>

    <div class="col-md-8 text-left">
    {{ content }}
    </div>

    {% include footer.html %}
    {% include js.html %}

	</div>
    </body>
</html>